// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
@import "../../../assets/scss/abstracts/variables",
  "../../../assets/scss/abstracts/mixins",
  "../../../assets/scss/abstracts/functions";

.banner {
  height: 100vh;
  background: $twilightBlue;
  position: relative;
  z-index: 2;
  padding-top: 140px;
  display: flex;
  align-items: center;
  justify-content: center;

 

  h1 {
    font-size: 50px;
    color: #333;
    font-weight: 800;
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    line-height: 28px;
    margin-bottom: 25px;
  }

  @include respond-below(md) { 
    padding-top: 22px;
  }
}

.contact-section {
  padding: 70px 0;
  background: linear-gradient(
    135deg,
    #c630c7 0,
    #e83d1d 40%,
    #e83d1d 55%,
    #c630c7 100%
  );
  background-size: cover;

  h2 {
    margin-bottom: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 40px;
  }
  .subtitle {
    line-height: 36px;
    font-size: 30px;
  }
}

.technologies-sec {
  padding: 70px 0;
  background: $windsor image("tileable-wood.png") repeat 0 0;
  background-attachment: fixed;

  h2 {
    color: $twilightBlue;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  p {
    color: $twilightBlue;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  ul.tech-services {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 40px 0 0 0;
    padding: 0;
    li {
      margin: 0 25px;
      margin-bottom: 30px;
      figure {
        width: 130px;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        margin-bottom: 20px;
        background-color: $twilightBlue;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      }
      h5 {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0px;
        color: $text-white;
        font-weight: 500;
        text-align: center;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.services-sec {
  padding: 70px 0;

  h3 {
    font-size: 50px;
    color: $lightMineShaft;
    font-weight: 700;
    margin-bottom: 20px;
    span {
      color: $windsor;
    }
  }
  p {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: $lightMineShaft;
  }

  .service-col {
    padding: 20px 15px 30px;
    background: $twilightBlue;
    box-shadow: 0 0 7px rgba(black, 0.3);
    min-height: 315px;
    text-align: center;
    border-radius: 10px;


    @include respond-below(sm) {
      margin-bottom: 30px;
    }

    h4 {
      color: $black;
      margin-bottom: 25px;
      font-weight: 700;

      span {
        color: $windsor;
      }
    }
    p {
      font-size: 16px;
      min-height: 150px;
    }
  }
}

/*Contact Us*/
.contact-box {
  background: $twilightBlue;
  padding: 0;

  .contact-form {
    box-shadow: none;
  }
}
.content-content {
  max-width: 1000px;
  margin: 0px auto;
  box-shadow: 0px 10px 20px rgba($black, 0.2);
  top: -100px;
  position: relative;
  background: $text-white;
}
.contact-info-sec {
  padding: 50px 32px;
  height: 100%;
  background-color: rgba($black, 0.05);

  h3 {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 45px;
    font-family: "Oswald";
  }
  .contact-address {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      font-size: 14px;
      line-height: 24px;
      font-weight: 500;
      margin-bottom: 27px;
      padding-left: 35px;
      position: relative;
      color: $windsor;
      &:last-child {
        margin-bottom: 0;
      }
      i {
        position: absolute;
        left: 0;
        top: 0px;
        font-size: 25px;
      }
    }
  }
  & > ul li a {
    color: $windsor;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.contact-social-icons {
  display: flex;
  margin-top: 40px !important;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    a {
      font-size: 22px;
      color: #fff;
    }
  }
}
.contact-form {
  padding: 50px 15px 35px 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 3px 10px #0000000d;
  @include respond-below(sm) { 
    padding: 50px 20px 35px;
  }

  .form-group {
    position: relative;
    &.icon {
      &::after {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        color: #450b78;
        left: 0;
        bottom: 0;
        width: 40px;
        text-align: center;
        font-family: "IcoFont" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        line-height: 1;
        -webkit-font-feature-settings: "liga";
        -webkit-font-smoothing: antialiased;
        max-height: 50px;
      }
    }

    &.user-icon:after {
      content: "\ec8e";
    }
    &.email-icon:after {
      content: "\ef12";
      font-size: 20px;
    }
    &.phone-icon:after {
      content: "\efec";
      font-size: 20px;
    }
    &.chat-icon:after {
      content: "\ef14";
      font-size: 20px;
      align-items: flex-start;
      top: 13px;
    }
  }

  .form-control {
    border-radius: 0;
    border: 1px solid #ddd;
    box-shadow: none;
    padding: 10px 10px 10px 40px;
    height: 50px;
    position: relative;
  }
  .invalid {
    .form-control {
      border-color: $error;
      color: $error;
    }
    &:after {
      color: $error!important;
    }
  }
  .error-text {
    color: $error;
    font-size: 12px;
  }
  textarea.form-control {
    min-height: 150px;
  }
}

.home-page-contact {
  padding: 70px 0;
  background: $windsor image("tileable-wood.png") repeat 0 0;
  background-attachment: fixed;

  h3 {
    font-size: 50px;
    color: $text-white;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 0 2px 4px rgba($black, 0.5);
  }

  .contact-form {
    padding: 50px 50px 35px 50px;
    box-shadow: 0 2px 4px rgba($black, 0.5);

    .form-control {
      margin-bottom: 20px;
    }
    textarea.form-control {
      min-height: 190px;
    }
  }
  .content-content {
    top: 0;
    background: transparent;
    box-shadow: none;
  }
}
.web-process-img {
  display: block;
  width: 88%;
  margin: auto;
}
/*Our Procss*/
.our-process {
  padding: 70px 0;
  background-color: rgba($black, 0.1);
  h3 {
    font-size: 50px;
    color: $lightMineShaft;
    font-weight: 700;
    margin-bottom: 40px;
    span {
      color: $windsor;
    }
  }

  svg {
    text {
      font-family: 'Poppins';
    font-size: 12px;
    }
  }
}
/** svg css */
.st0 {
  fill: #949494;
}
.st1 {
  font-family: "MyriadPro-Semibold";
  fill: $perple;
}
.st2 {
  font-size: 14px;
}
.st3 {
  fill: $windsor;
}
.st4 {
  font-size: 15.9416px;
}
.st5 {
  fill: $windsor;
  stroke: $windsor;
  stroke-miterlimit: 10;
}
.st6 {
  fill: none;
  stroke: $windsor;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st7 {
  fill: none;
  stroke: none;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st8 {
  fill: $text-white;
  stroke: $windsor;
  stroke-width: 2.5;
  stroke-miterlimit: 10;
}
.st9 {
  fill: $windsor;
  stroke: $windsor;
  stroke-miterlimit: 10;
  stroke-width: 2.5;
}
.st10 {
  fill: none;
  stroke: #949494;
  stroke-miterlimit: 10;
  stroke-width: 2.5;
}
.st11 {
  fill: $text-white;
  stroke: $text-white;
  stroke-width: 2.5;
  stroke-miterlimit: 10;
}
.heyo:hover,
.heyo:hover .st11 {
  fill: #d5f9ffd9;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  stroke-width: 0;
  transition: 0.3s;
}
.heyo:hover .st1 {
  fill: #db4528;
}
.enabled {
  fill: none;
  cursor: pointer;
  pointer-events: visibleFill;
}
.description {
  pointer-events: none;
  position: absolute;
  font-size: 13px;
  text-align: center;
  background: $windsor;
  padding: 7px 8px;
  z-index: 5;
  min-height: auto;
  max-width: 210px;
  line-height: 15px;
  margin: 0 auto;
  color: #fff;
  border-radius: 5px;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
}
.description.active {
  display: block;
}
.description:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $windsor;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}
/*** end of svg css **/
.contact-banner {
  background: $windsor image("tileable-wood.png") repeat 0 0;
  background-attachment: fixed;
  padding-top: 135px;
  min-height: 60vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 92px;

  h1 {
    color: $text-white;
  }
}