@import "../../../assets/scss/abstracts/variables",
  "../../../assets/scss/abstracts/mixins",
  "../../../assets/scss/abstracts/functions";
  
.abs-banner {
    background: $windsor image("tileable-wood.png") repeat 0 0;
    background-attachment: fixed;
    padding-top: 170px;
    min-height: 50vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 52px;
  
    h1 {
      color: $text-white;
    }
}

.service-banner {
    min-height: 100vh;
    text-align: left;
    position: relative;
    

    .about-content {
        max-width: none;
    }
}
.services-wrap {
    padding: 70px 0 30px;
    text-align: center;
    background: #f6f6f6;

    h2 {
        font-size: 30px;
        margin: 0 0 15px;
        line-height: 1.25;
        color: #404040;
    }
    p {
        font-size: 18px;
        margin: 0 0 50px;
        line-height: 30px;
        color: #404040;
    }
}
.service-list {
    border: 1px solid #fff;
    transition: all 0.3s ease;
    box-shadow: 0 0 8px #eae8e8;
    position: relative;
    padding: 20px 20px 40px;
    text-align: left;
    margin-bottom: 100px;
    background: $text-white;

    &:after,
    &:before {
        height: 40px;
        position: absolute;
        width: 60px;
        z-index: 2;
        border-style: solid;
        transition: all 0.5s ease 0s;
        content: "";
    }

    &:before {
        top: -16px;
        right: -10px;
        border-color: $windsor $windsor transparent transparent;
        border-top-width: 2px;
        border-right-width: 2px;
        transition: all 0.5s ease 0s;
    }
    &:after {
        bottom: -16px;
        left: -10px;
        border-color: transparent transparent $perple $perple;
        border-bottom-width: 2px;
        border-left-width: 2px;
        transition: all 0.5s ease 0s;
    }
    &:hover:after,
    &:hover:before {
        height: 95%;
        width: 90%;
    }

    h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            position: relative;
            padding-bottom: 8px;
            text-decoration: none;
            /* color: #450B78; */
            background: linear-gradient(80deg, #6c19f6 0%, #f9218d 100%);
            -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
            -webkit-background-clip: text;

            &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                height: 2px;
                width: 15%;
                background: #404040;
            }
        }
    }
}
.service-list .lists {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        padding-bottom: 5px;
        position: relative;
        padding-left: 16px;
        transition: all 0.2s ease;
        color: #404040;
        font-size: 14px;

        &:before {
            content: "";
            background: $windsor image("listing-bullet.png") repeat 0 0;
            display: inline-block;
            width: 10px;
            height: 10px;
            position: absolute;
            left: 0;
            top: 6px;
        }
    }
}

.contact-sec {
    background: linear-gradient(80deg, #6c19f6 0%, #f9218d 100%);
    padding: 40px;
    color: $text-white;

    h3 {
        font-size: 40px;
        margin: 0 0 15px;
        line-height: 1.25;
    }
    p {
        font-size: 25px;
        margin: 0 0 5px;
        line-height: 1.25;
    }
    .btn {
        background: $text-white;
        color: $windsor;

        @include on-event {
            background: $text-white !important;
            color: $perple !important;
        }
    }
}