<!--Footer Section-->
<footer class="footer">  
    <!--Footer Top-->  
    <div class="footer-top">
        <div class="container px-lg-5">
            <div class="row">
                <div class="col-12 py-4">
                    <div class="row">
                        <div class="col-md-4 mb-md-0 mb-4">
                            <h3>About us</h3>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            </p>
                            <ul class="ftco-footer-social p-0">
                                <li class="ftco-animate fadeInUp ftco-animated">
                                    <a href="#" data-toggle="tooltip"
                                        data-placement="top" title="Twitter">
                                        <i class="icofont-facebook"></i>
                                    </a>
                                </li>
                                <li class="ftco-animate fadeInUp ftco-animated">
                                    <a href="#" data-toggle="tooltip"
                                        data-placement="top" title="linkedin">
                                        <i class="icofont-linkedin"></i>
                                    </a>
                                </li>
                                <li class="ftco-animate fadeInUp ftco-animated">
                                    <a href="#" data-toggle="tooltip"
                                        data-placement="top" title="Twitter">
                                        <i class="icofont-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <div class="row justify-content-center">
                                <div class="col-md-12 col-lg-10">
                                    <div class="row">
                                        <div class="col-md-4 mb-md-0 mb-4">
                                            <h3 class="footer-heading">Frontend</h3>
                                            <ul class="list-unstyled">
                                                <li><a href="#" class="py-1 d-block">HTML5</a></li>
                                                <li><a href="#" class="py-1 d-block">Angular</a></li>
                                                <li><a href="#" class="py-1 d-block">ReactJS</a></li>
                                                <li><a href="#" class="py-1 d-block">VueJs</a></li>
                                                <li><a href="#" class="py-1 d-block">Node.JS</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 mb-md-0 mb-4">
                                            <h3 class="footer-heading">Backend</h3>
                                            <ul class="list-unstyled">
                                                <li><a href="#" class="py-1 d-block">PHP</a></li>
                                                <li><a href="#" class="py-1 d-block">.NET</a></li>
                                                <li><a href="#" class="py-1 d-block">Java</a></li>
                                                <li><a href="#" class="py-1 d-block">Python</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 mb-md-0 mb-4">
                                            <h3 class="footer-heading">CMS</h3>
                                            <ul class="list-unstyled">
                                                <li><a href="#" class="py-1 d-block">Magento</a></li>
                                                <li><a href="#" class="py-1 d-block">PrestaShop</a></li>
                                                <li><a href="#" class="py-1 d-block">Shopify</a></li>
                                                <li><a href="#" class="py-1 d-block">WooCommerce</a></li>
                                                <li><a href="#" class="py-1 d-block">Drupal</a></li>
                                                <li><a href="#" class="py-1 d-block">WordPress</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <!--Footer Bottom-->
    <div class="footer-bottom">
        <p class="copyright text-center mb-0">
            Copyright © 2020 - 2021 ITcrayons, All rights reserved.
        </p>
    </div>
</footer>
<!--Footer Section-->