<!--Footer Section-->
<footer class="footer">  
    <!--Footer Top-->  
    <div class="footer-top">
        <div class="container px-lg-5">
            <div class="row">
                <div class="col-12 py-4">
                    <div class="row">
                        <div class="col-md-4 mb-md-0 mb-4">
                            <h1 class="logo mr-auto"><a class="scrollto"  href="/">ITcrayons</a></h1>
                            <!-- <h3>About us</h3> -->
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                            </p>
                            <ul class="ftco-footer-social p-0">
                                <li class="ftco-animate fadeInUp ftco-animated">
                                    <a href="https://www.facebook.com/profile.php?id=61550671303110" data-toggle="tooltip"
                                        data-placement="top" title="Twitter" aria-label="Read more about twitter account">
                                        <i class="icofont-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" data-toggle="tooltip"
                                    data-placement="top" title="Instagram" aria-label="Read more about Instagram account">
                                        <i class="icofont-instagram"></i>
                                    </a>
                                </li>
                                <li class="ftco-animate fadeInUp ftco-animated">
                                    <a href="https://www.linkedin.com/notifications/?filter=all" data-toggle="tooltip"
                                        data-placement="top" title="linkedin" aria-label="Read more about linkedin account">
                                        <i class="icofont-linkedin"></i>
                                    </a>
                                </li>
                                <li class="ftco-animate fadeInUp ftco-animated">
                                    <a href="https://twitter.com/home?lang=en" data-toggle="tooltip"
                                        data-placement="top" title="Twitter" aria-label="Read more about Twitter account">
                                        <i class="icofont-twitter"></i>
                                    </a>
                                </li>
                                <li class="ftco-animate fadeInUp ftco-animated">
                                    <a href="https://web.skype.com/?openPstnPage=true" data-toggle="tooltip"
                                        data-placement="top" title="Skype" aria-label="Read more about skype account">
                                        <i class="icofont-skype"></i>
                                    </a>
                                </li>
                            </ul>
                        
                        </div>
                        <div class="col-md-8">
                            <div class="row justify-content-center">
                                <div class="col-md-12 col-lg-10">
                                    <div class="row">
                                        <div class="col-md-4 mb-md-0 mb-4">
                                            <h2 class="footer-heading">Frontend</h2>
                                            <ul class="list-unstyled">
                                                <li><a href="#" aria-label="Learn more about HTML5" class="py-1 d-block">HTML5</a></li>
                                                <li><a href="#" aria-label="Learn more about Angular" class="py-1 d-block">Angular</a></li>
                                                <li><a href="#" aria-label="Learn more about ReactJS" class="py-1 d-block">ReactJS</a></li>
                                                <li><a href="#" aria-label="Learn more about VueJs" class="py-1 d-block">VueJs</a></li>
                                                <li><a href="#" aria-label="Learn more about Node.JS" class="py-1 d-block">Node.JS</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 mb-md-0 mb-4">
                                            <h2 class="footer-heading">Backend</h2>
                                            <ul class="list-unstyled">
                                                <li><a href="#" aria-label="Learn more about PHP" class="py-1 d-block">PHP</a></li>
                                                <li><a href="#" aria-label="Learn more about .NET" class="py-1 d-block">.NET</a></li>
                                                <li><a href="#" aria-label="Learn more about Java" class="py-1 d-block">Java</a></li>
                                                <li><a href="#" aria-label="Learn more about Python" class="py-1 d-block">Python</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 mb-md-0 mb-4">
                                            <h2 class="footer-heading">CMS</h2>
                                            <ul class="list-unstyled">
                                                <li><a href="#" aria-label="Learn more about Magento" class="py-1 d-block">Magento</a></li>
                                                <li><a href="#" aria-label="Learn more about PrestaShop" class="py-1 d-block">PrestaShop</a></li>
                                                <li><a href="#" aria-label="Learn more about Shopify" class="py-1 d-block">Shopify</a></li>
                                                <li><a href="#" aria-label="Learn more about WooCommerce" class="py-1 d-block">WooCommerce</a></li>
                                                <li><a href="#" aria-label="Learn more about Drupal" class="py-1 d-block">Drupal</a></li>
                                                <li><a href="#" aria-label="Learn more about WordPress" class="py-1 d-block">WordPress</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <!--Footer Bottom-->
    <div class="footer-bottom">
        <p class="copyright text-center mb-0">
            Copyright © 2020 - 2021 ITcrayons, All rights reserved.
        </p>
    </div>
</footer>
<!--Footer Section-->